@import url(util_ui.css);
/**{
	border:1px solid yellow;
}*/
#channels { 
	position: absolute;
  top: 140px;
  left: 100px;
}

.menu ul { 
	padding: 0;
	margin: 0;
}
.menu li { 
	background:url(images/dvb/btn.jpg) no-repeat;
	background-position:center;
    color:#054CA8;
	display:block;
	width: 279;
	height: 42;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	nav-left:#home;
	margin-bottom:10;
}

.menu li .title{
	padding-left:0.8em;
	padding-top:0.4em;
	font:bold 16pt sans-serif;
}

.menu li:focus{ 
	background:url(images/dvb/btn_over.jpg) no-repeat;
	background-position:center;
	color:#87C0DE;
}

.plywin0 { 
	visibility:hidden;
	height:480px;
	width:720px;
}

.plywin1 {
	background: url(tv://);
	visibility:inherit;
	height:480px;
	width:720px;

}

.pgup0{
	visibility:hidden;
	width:21px;
	height:13px;
}
.pgup1{
	background: url(images/icon/arrow_u.png) no-repeat ;
	visibility:inherit;
	width:21px;
	height:13px;
}

.pgdown0{
	visibility:hidden;
	width:21px;
	height:13px;
}
.pgdown1{
	background: url(images/icon/arrow_d.png) no-repeat ;
	visibility:inherit;
	width:21px;
	height:13px;
}


#signal{
	position: absolute;
	top: 60;
	left: 380;
	z-index:1;
}


.signal{
	background:url(images/dvb/signal.jpg) no-repeat;
	width:200;
	height:20;
}

.percent{
	position:absolute;
	left:160;
	color:white;
	font: bold 16pt sans-serif;
	text-align:right;
	display:block;
}


.info_top0 { 
	position: absolute;
	top: 30;
	left: 460;
	width: 240;
	height:70;
	visibility:hidden;
	z-index:3;
}

.info_top1 { 
	position: absolute;
	color: Lime;
	top: 30;
	left: 460;
	width: 240;
	height:70;
	z-index:3;
	font: bold 18pt sans-serif;
	visibility:inherit;
}

.info_top1 .bg{
	position:absolute;
	top:0;
	left:0;
	background-color: #333;
	width:240;
	height:70;
	opacity:0.6;
}
.info_top1 .no { 
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	text-align: center;
	margin: 0 0 5px 0;
}

.info_top1 .name { 
	position:absolute;
	top:20;
	left:0;
	display:block;
	text-align: center;
	width:100%;
	margin: 10px 0 0 0;
}

.rec0{
	visibility:hidden;
}

.rec1{
	position:absolute;
	left:560;
	top:24;
	display:block;
	width:82px;
	height:82px;
	z-index:3;
	visibility:inherit;
}

.pginfo0{
	position:absolute;
	left:170;
	top:110;
	display:block;
	width:400;
	height:180;
	z-index:3;
	visibility:hidden;
}

.pginfo1{
	background:url(images/dvb/info.png) no-repeat;
	position:absolute;
	left:170;
	top:110;
	display:block;
	width:400;
	height:180;
	z-index:3;
	visibility:inherit;
}
.pginfotitle{
	background:transparent;
	display:block;
	border:0;
	position:relative;
	left:22;
	top:12;
    color:#054CA8;
	font:bold 16pt sans-serif;
	width:360;
	height:30;
}
.pginfotext{
	background:transparent;
	-ant-user-input:disabled;
	border:0;
	position:relative;
	left:22;
	top:12;
    color:#054CA8;
	font:bold 16pt sans-serif;
	width:360;
	height:120;
}