body{
	background:url(tv://);
}

.epgwin{
	position:absolute;
	left:0;
	top:50;
	width:100%;
	height:450;
	z-index:3;
}

.epgwin .bg{
	position:absolute;
	left:60;
}
.epgwin .bg .tablel{
	background:url(images/dvb/epg_bg_l.png);
	display:block;
	position:relative;
	width:20;
	height:355;
	float:top;
}

.epgwin .bg .tablem{
	/*background:url(images/dvb/epg_bg_m.png);*/
	background-color:black;
	opacity:0.6;
	display:block;
	position:relative;
	top:-355;
	left:20;
	width:563;
	height:355;
}

.epgwin .bg .tabler{
	background:url(images/dvb/epg_bg_r.png) no-repeat;
	background-position:right;
	width:603;
	height:355;
	display:block;
	position:relative;
	top:-710;
}

.navday{
	position:absolute;
	color:white;
	font:bold 16pt sans-serif;
	left:332;
	top:20;
	width:200;
	height:30;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	visibility:inherit;
}

.navday .navleft0{
	width:10;
	height:18;
	top:3;
	visibility:hidden;
}

.navday .navleft1{
	background:url(images/dvb/arrow_l.png) no-repeat;
	background-position:center;
	position:absolute;
	width:10;
	height:18;
	top:3;
	visibility:inherit;
}

.navday:focus .navleft1{
	background:url(images/dvb/arrow_l_over.png) no-repeat;
}

.navday .navright0{
	width:10;
	height:18;
	top:3;
	visibility:hidden;
}

.navday .navright1{
	background:url(images/dvb/arrow_r.png) no-repeat;
	background-position:center;
	position:absolute;
	left:188;
	width:10;
	height:18;
	top:3;
	visibility:inherit;
}

.navday:focus .navright1{
	background:url(images/dvb/arrow_r_over.png) no-repeat;
}

.navday .navtitle{
	text-align:center;
	position:absolute;
	left:10;
	width:180;
	top:0;
}

.navday:focus .navtitle{
	color:#FBAF5D;
}


.epgmenu { 
	position: absolute;
	top: 60px;
	left: 100px;
}

.epgmenu ul { 
	padding: 0;
	margin: 0;
}

.epgmenu .item { 
	color:white;
	font:bold 16pt sans-serif;
	display:block;
	width: 210;
	height: 31;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	nav-left:#epgfunc_back;
}

.epgmenu .selected { 
	color:#FBAF5D;
	font:bold 16pt sans-serif;
	display:block;
	width: 210;
	height: 31;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	nav-left:#epgfunc_back;
}

.epgmenu .item .title{
	width:280;
	display:block;
}

.epgmenu .item:focus{ 
	background:url(images/dvb/arrow_r_over.png) no-repeat;
	background-position:right 4;
	color:#FBAF5D;
}

.epgmenu .item:focus .title{ 
}


.epgmenur { 
	position: absolute;
	top: 60;
	left: 330;
}


/* Right Column --a dupe class of epgmenu except position */
.epgmenur ul { 
	padding: 0;
	margin: 0;
}

.epgmenur li { 
	color:white;
	padding-left:16;
	font:bold 14pt sans-serif;
	display:block;
	width: 320px;
	height: 28px;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
}

.epgmenur li .time{
	padding-left:0.7em;
}

.epgmenur li:focus .title { 
}

.epgmenur li:focus{ 
	background:url(images/dvb/arrow_l_over.png) no-repeat;
	background-position:left 4;
	color:#FBAF5D;
}

.epgpgup0{
	visibility:hidden;
	width:23px;
	height:15px;
}

.epgpgup1{
	background: url(images/icon/arrow_u.png) no-repeat ;
	visibility:inherit;
	width:21px; 
	height:13px;
}

.epgpgdown0{
	visibility:hidden;
	width:21px;
	height:13px;
}

.epgpgdown1{
	background: url(images/icon/arrow_d.png) no-repeat ;
	visibility:inherit;
	width:21px; 
	height:13px;
}

.epgtime{
	position:absolute;
	top:20;
	left:100;
	color:white;
	font:bold 16pt sans-serif
}

.epgtipsbg{
	position:absolute;
	top:374;
	left:0;
	background-color:black;
	text-align:center;
	opacity:0.6;
	color:white;
	height:36;
	width:719;
}
.epgtips{
	position:absolute;
	top:374;
	left:30;
	width:680;
	font:bold 18pt sans-serif;
	height:36;
	color:white;
}

#msgbox{
	position:absolute;
	left:70;
	top:120;
}

.msgbox0{
	border:2px solid #89C0DF;
	background-color:#007CC2;
	width:580;
	height:140;
	z-index:4;
	visibility:hidden;
}

.msgbox1{
	border:2px solid #89C0DF;
	background-color:#007CC2;
	width:580;
	height:140;
	z-index:4;
	visibility:inherit;
}
.msgboxtitle{
	background-color:white;
	height:30;
	font:bold 18pt sans-serif;
	color:#084DA8;
}

.msgboxtext{
	font:bold 18pt sans-serif;
	color:#88C1DC;
}

.msgboxbtn{
	background-color:#88C1DC;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	font:bold 16pt sans-serif;
	color:#084DA8;
	display:block;
	width:100;
	height:29;
}

.msgboxbtn:focus{
	background-color:#084DA8;
	color:#88C1DC;
}
#btnok{
	nav-right:#btnno;
	nav-up:#btnok;
	nav-left:#btnok;
	nav-down:#btnok;
}
#btnno{
	nav-right:#btnno;
	nav-up:#btnno;
	nav-left:#btnok;
	nav-down:#btnno;
}
