body{
	background-color:transparent;
	margin:0;
	border:0;
}
.volbar0{
	display:none;
	width:378;
	height:70;
	position:absolute;
	top:0;
	left:100;
}
.volbar1{
	display:block;
	width:378;
	height:70;
	position:absolute;
	top:0;
	left:100;
}
.bell1{
	display:block;
	background-image:url(bell1.png);
	background-position:left top;
	background-repeat:no-repeat;
	width:47;
	height:70;
}
.bell0{
	display:block;
	background-image:url(bell0.png);
	background-position:left top;
	background-repeat:no-repeat;
	width:47;
	height:70;
}
.vol0{
	position:relative;
	top:-47;
	left:54;
	display:block;
	/*background-image:url(vol_0.png);*/
	width:314;
	height:34;
}
.vol1{
	display:block;
	background-image:url(vol_1.png);
	width:314;
	height:34;
	position:relative;
	top:-81;
	left:54;
}

.ime0{
	display:none;
	text-align:center;
	position:absolute;
	top:20;
}
.ime1{
	background-color:blue;
	display:block;
	font:bold 16pt sans-serif;
	width:40;
	height:20;
	color:white;
	text-align:center;
	position:absolute;
	top:20;
	border:2px solid #DDCCFF;
}