@import url(util_ui.css);
@import url(util_navigator.css);
@import url(util_title.css);

#channels {
	position: absolute;
	top: 88px;
	left: 60px;
}

.menu ul {
	padding: 0;
	margin: 0;
}

.menu li {
	background:url(images/iptv/btn.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 20pt serif;
	display:block;
	width: 285px;
	height: 42px;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	nav-left:#home;
}

.menu li .title{
	padding-left:0.8em;
	padding-top:0.1em;
}

.menu li:focus .title {
	color:#FBAF5D;
}

.menu li:focus{
	background:url(images/iptv/btn_over.jpg) no-repeat;
	background-position:center;
}



.plywin0 {
	visibility:hidden;
	height:576px;
	width:720px;
}

.plywin1 {
	background: url(tv://);
	visibility:inherit;
	height:576px;
	width:720px;

}

.pgup0{
	visibility:hidden;
	width:21px;
	height:13px;
}
.pgup1{
	background: url(images/icon/arrow_u.png) no-repeat ;
	visibility:inherit;
	width:21px;
	height:13px;
}

.pgdown0{
	visibility:hidden;
	width:21px;
	height:13px;
}
.pgdown1{
	background: url(images/icon/arrow_d.png) no-repeat ;
	visibility:inherit;
	width:21px;
	height:13px;
}


.info_top0 { 
	position: absolute;
	top: 30;
	left: 460;
	width: 240;
	height:70;
	visibility:hidden;
}

.info_top1 { 
	position: absolute;
	color: Lime;
	top: 30;
	left: 460;
	width: 240;
	height:70;
	z-index:2;
	font: bold 18pt sans-serif;
	visibility:inherit;
}

.info_top1 .bg{
	position:absolute;
	top:0;
	left:0;
	background-color: #333;
	width:240;
	height:70;
	opacity:0.6;
}
.info_top1 .no { 
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	text-align: center;
	margin: 0 0 5px 0;
}

.info_top1 .name { 
	position:absolute;
	top:20;
	left:0;
	display:block;
	text-align: center;
	width:100%;
	margin: 10px 0 0 0;
}
