body { 
	background-color: #000;
	color:white;
}
.page_title{
	color:white;
	font:bold 30pt sans-serif;
	position:absolute;
	left:60;
	top:20;
}
.page_title ul { 
	padding: 0;
	margin: 0;
}

.page_title li{
	display:block;
}

.menu_title{
	color:white;
	font:bold 20pt sans-serif;
	text-align:center;
	position:absolute;
	top:100;
	left:20%;
	width:60%;
}

.menu_title ul { 
	padding: 0;
	margin: 0;
}

.menu_title li{
	display:block;
}


.menu{
	margin-top: 14%;
	width:300;
}

.menu ul { 
	padding: 0;
}

.menu .item {
	background:url(images/btn.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:255;
	height:38;
}

.menu .item .title{
	display:block;
	width:255;
	height:38;
	text-align:center;
}

.menu .item:focus{
	background:url(images/btn_over.jpg) no-repeat;
	background-position:center;
	color:#FBAF5D;
}

.menu .selected{
	background:url(images/btn.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:255;
	height:38;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	margin-bottom:0.2em;
	padding-top:0.2em;
}

.menu .selected:focus{
	background:url(images/btn_over.jpg) no-repeat;
	background-position:center;
	color:#FBAF5D;
}

.menu .selected .star{
	background:url(images/selected.png) no-repeat;
	background-position:left;
	position:relative;
	display:block;
	top:-38;
	left:-90;
	height:38;
	width:20;
}

.menu .itembig {
	background:url(images/btn_big.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:200;
	height:46;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	padding-top: 0.3em;
}

.menu .itembig:focus{
	background:url(images/btn_big_over.jpg) no-repeat;
	background-position:center;
	color:#FBAF5D;
}

.menu .itembig .star{
	background:transparent;
	position:relative;
	display:block;
	top:-38;
	left:10;
	height:44;
	width:20;
	visibility:inherit;
}

.menu .itemsmall {
	background:url(images/btn_small.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:163;
	height:43;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	margin-bottom:0.33em;
}

.menu .itemsmall:focus{
	background:url(images/btn_small_over.jpg) no-repeat;
	background-position:center;
	color:#FBAF5D;
}

.menu .itemlong {
	background:url(images/edit_bg2.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:564;
	height:44;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	margin-bottom:0.1em;
}

.menu .itemlong .title{
	padding-left:0.7em;
	padding-top:0.12em;
	text-align:left;
	display:block;
	width:545;
	height:44;
}

.menu .itemlong:focus{
	color:#FBAF5D;
}

.menu .itemedit{
	background:url(images/edit_bg.jpg) no-repeat;
	background-position:center top;
	color:white;
	font:bold 20pt sans-serif;
	display:block;
	width:564;
	height:30;
}

.menu .itemedit:focus{
	color:#FBAF5D;
}

.menu .itemedit .title{
	padding-left:0.7em;
	display:block;
	position:relative;
	width:540;
	height:31;
}

.menu .itemedit .title1{
	color:#FBAF5D;
	padding-left:0.7em;
	background:url(images/edit_bg_over.jpg) no-repeat;
	background-position:right;
	display:block;
	position:relative;
	width:540;
	height:31;
}

.menu .itemedit .title_nav{
	color:#FBAF5D;
	padding-left:0.7em;
	background:url(images/edit_bg_txtedit_nav.jpg) no-repeat;
	background-position:right;
	display:block;
	position:relative;
	width:539;
	height:43;
}

.menu .itemedit .txtedit{
	background-color:transparent;
	font:bold 16pt sans-serif;
	border:0;
	color:white;
	position:relative;
	top:-28;
	left:240;
	width:310;
}

.menu .itemedit .txtedit:focus{
	color:#FBAF5D;
}

.menu .itemedit .txtedit_nav{
	background-color:transparent;
	padding-top:0.26em;
	font:bold 18pt sans-serif;
	border:0;
	color:white;
	position:relative;
	top:-46;
	left:240;
	width:310;
	height:36;
	-ant-highlight-color: transparent;
	-ant-user-input: enabled;
	text-align:center;
	z-index:2;
}

.menu .itemedit .txtedit_nav:focus{
	color:#FBAF5D;
}

.menu .itemeditshort{
	background:url(images/edit_bg_short.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 20pt sans-serif;
	display:block;
	width:435;
	height:50;
}

.menu .itemeditshort:focus{
	color:#FBAF5D;
}

.menu .itemeditshort .title{
	padding-left:0.7em;
	padding-top:0.25em;
	display:block;
	position:relative;
	width:435;
	height:43;
}

.menu .itemeditshort .title1{
	color:#FBAF5D;
	padding-left:0.7em;
	padding-top:0.25em;
	background:url(images/edit_bg_short_over.jpg) no-repeat;
	background-position:right;
	display:block;
	position:relative;
	width:412;
	height:43;
}

.menu .itemeditshort .txtedit{
	background-color:transparent;
	font:bold 18pt sans-serif;
	border:0;
	color:white;
	position:relative;
	top:-42;
	left:170;
	width:310;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	z-index:2;
}

.menu .itemeditshort .txtedit:focus{
	color:#FBAF5D;
}

.menu .itemnav{
	background:url(images/item_bg.gif) no-repeat;
	background-position:center;
	margin-bottom:0.1em;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:440;
	height:50;
	-ant-highlight-color: transparent;
	-ant-user-input: enabled;
}

.menu .itemnav .title{
	padding-left:0.35em;
	padding-top:0.2em;
	display:block;
	position:relative;
	width:440;
	height:43;
}

.menu .itemnav:focus .title{
	background:url(images/item_nav.gif) no-repeat;
	background-position:171 8;
	color:#FBAE5C;
	display:block;
	position:relative;
	width:440;
	height:43;
}

.menu .itemnav .txtedit_nav{
	background-color:transparent;
	padding-top:0.3em;
	font:bold 16pt sans-serif;
	vertical-align:middle;
	border:0;
	position:relative;
	top:-42;
	left:170;
	width:265;
	height:43;
	text-align:center;
	z-index:2;
}

.menu .itemnav:focus .txtedit_nav{
	color:#FBAE5C;
}

.menu .itemnavshort{
	background:url(images/itemshort_bg.gif) no-repeat;
	background-position:center;
	margin-bottom:0.1em;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:470;
	height:50;
	-ant-highlight-color: transparent;
	-ant-user-input: enabled;
}

.menu .itemnavshort .title{
	padding-left:0.35em;
	padding-top:0.2em;
	display:block;
	position:relative;
	width:470;
	height:43;
}

.menu .itemnavshort:focus .title{
	background-position:226 8;
	color:#FBAE5C;
	display:block;
	position:relative;
	width:470;
	height:43;
}

.menu .itemnavshort .txtedit_nav{
	background:url(images/itemshort_item_bg.gif) no-repeat;
	font:bold 16pt sans-serif;
	position:relative;
	top:-40;
	left:226;
	width:240;
	height:43;
	text-align:center;
}

.menu .itemnavshort:focus .txtedit_nav{
	background:url(images/itemshort_nav.gif) no-repeat;
	color:#FBAE5C;
}

.menu .itemnavlong{
	background:url(images/itemlong_bg.jpg) no-repeat;
	background-position:center;
	margin-bottom:0.1em;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:564;
	height:50;
	-ant-highlight-color: transparent;
	-ant-user-input: enabled;
}

.menu .itemnavlong:focus{
	color:#FBAE5C;
}

.menu .itemnavlong .title{
	padding-left:0.35em;
	padding-top:0.2em;
	display:block;
	width:564;
	height:50;
}

.menu .itemnavlong:focus .title{
	background:url(images/itemlong_over.gif) no-repeat;
	background-position:0 3;
	display:block;
	width:564;
	height:50;
}

.menu .itemnavlong .txtedit_nav{
	position:relative;
	top:-50;
	left:260;
	width:310;
	height:50;
}

.menu .text {
	color:white;
	font:bold 18pt sans-serif;
	display:block;
	width:255;
	height:26;
	-ant-user-input: enabled;
	-ant-highlight-color: transparent;
	padding-top: 0.5em;
}


.menu .text .title{
	padding-left:0.2em;
	padding-top:0.4em;
	text-align:left;
	position:relative;
	top:10;
	left:40;
	display:block;
	width:300;
	height:40;
}

.menu .text .value{
	padding-left:0.2em;
	padding-top:0.4em;
	text-align:left;
	position:relative;
	top:-37;
	left:320;
	display:block;
	width:300;
	height:40;
}
/*
.navprev{
	background-image:url(images/prev.jpg);
	background-repeat:no-repeat ;
	background-position:left;
	font:bold 12pt sans-serif;
	display:block;
	color:white;
	padding-left:30;
	position:absolute;
	top:420;
	left:64;
	width:  190;
	height: 27;
	-ant-user-input: enabled;
}

.navprev ul { 
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.navprev li{
	display:block;
	vertical-align: middle;
}

.navprev:focus{
	background-image:url(images/prev_over.jpg);
	background-repeat:no-repeat ;
	background-position:left;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}

.navnone{
	display:none;
}

.navnext{
	background-image:url(images/next.jpg);
	background-repeat:no-repeat ;
	background-position:right;
	text-align:right;
	font:bold 12pt sans-serif;
	display:block;
	color:white;
	padding-right:30;
	position:absolute;
	top:420;
	left:430;
	width:  190;
	height: 27;
	-ant-user-input: enabled;
}

.navnext ul { 
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.navnext li{
	display:block;
	vertical-align: middle;
}

.navnext:focus{
	background-image:url(images/next_over.jpg);
	background-repeat:no-repeat ;
	background-position:right;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}

.navfinish{
	background-image:url(images/finish.jpg);
	background-repeat:no-repeat ;
	background-position:right;
	text-align:right;
	font:bold 12pt sans-serif;
	display:block;
	color:white;
	padding-right:30;
	position:absolute;
	top:420;
	left:430;
	width:  190;
	height: 27;
	-ant-user-input: enabled;
}

.navfinish ul { 
	padding: 0;
	margin: 0;
}

.navfinish li{
	display:block;
}
.navfinish:focus{
	background-image:url(images/finish_over.jpg);
	background-repeat:no-repeat ;
	background-position:right;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}

.navhome{
	background-image:url(images/home.jpg);
	background-repeat:no-repeat ;
	background-position:top left;
	font:bold 12pt sans-serif;
	display:block;
	color:white;
	padding-left:30;
	position:absolute;
	top:420;
	left:64;
	width:  190;
	height: 27;
	-ant-user-input: enabled;
	vertical-align: middle;
}

.navhome ul { 
	padding: 0;
	margin: 0;
}

.navhome li{
	display:block;
}

.navhome:focus{
	background-image:url(images/home_over.jpg);
	background-repeat:no-repeat ;
	background-position:left;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}
*/
.information{
	color:white;
	font:bold 26pt sans-serif;
	display:block;
	width:  500;
	height: 50;
}
.info_done{
	color:white;
	font:bold 26pt sans-serif;
	height:8em;
}

/* Page Navigator  Previous/Next/HOME*/
.navfunc{
	border:0;
	position:absolute;
	top:410;
	height:29;
	color:white;
	font:bold 12pt sans-serif;
	width:98%;
}

.funcpadding{
	width:10%;
}

.funcprev{
	background-image:url(images/prev.jpg);
	background-repeat:no-repeat ;
	text-indent:25pt;
	-ant-user-input: enabled;
}

.funcprev:focus{
	background-image:url(images/prev_over.jpg);
	background-repeat:no-repeat ;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}

.funcnext{
	background-image:url(images/next.jpg);
	background-repeat:no-repeat ;
	background-position:right;
	text-align:right;
	padding-right:25pt;
	-ant-user-input: enabled;
}

.funcnext:focus{
	background-image:url(images/next_over.jpg);
	background-repeat:no-repeat ;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}

.funchome{
	background-image:url(images/home.jpg);
	background-repeat:no-repeat ;
	text-indent:25pt;
	-ant-user-input: enabled;
}

.funchome:focus{
	background-image:url(images/home_over.jpg);
	background-repeat:no-repeat ;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}

.funcfinish{
	background-image:url(images/finish.jpg);
	background-repeat:no-repeat ;
	background-position:right;
	text-align:right;
	padding-right:25pt;
	-ant-user-input: enabled;
}

.funcfinish:focus{
	background-image:url(images/finish_over.jpg);
	background-repeat:no-repeat ;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}

.funcreset{
	background:url(images/add.gif) no-repeat;
	text-indent:25pt;
	-ant-user-input: enabled;
}

.funcreset:focus{
	background:url(images/add_over.gif) no-repeat;
	color:#FBAF5D;
	-ant-highlight-color: transparent;
}

.funcnone{
	background-color:transparent;
}