body { 
	background-color: #000;
	color:white;
}


.main_container{
	width:99%;
	height:98%;
	position:absolute;
	top:1%;
}

.pageTitle{
	color:white;
	font:bold 30pt sans-serif;
	height:70;
	padding-left:50;
}

.menuTitle{
	color:white;
	font:bold 24pt sans-serif;
	height:50;
	text-align:center;
}


.page_title{
	color:white;
	font:bold 30pt sans-serif;
	position:absolute;
	left:60;
	top:20;
}

.menu_title{
	color:white;
	font:bold 20pt sans-serif;
}


.tbtitle{
	background:url(images/edit_bg_l.jpg) no-repeat;
	font:bold 22pt sans-serif;
}

.tbtitle_focus{
	background:url(images/edit_bg_l.jpg) no-repeat;
	font:bold 22pt sans-serif;
	color:#FBAF5D;
}

.tblong{
	background:url(images/edit_bg_l.jpg) no-repeat;
	font:bold 22pt sans-serif;
}

.tblong_focus{
	background:url(images/edit_bg_l.jpg) no-repeat;
	font:bold 22pt sans-serif;
	color:#FBAF5D;
}

.tblongr{
	background:url(images/long_bg_l.jpg) no-repeat;
	font:bold 22pt sans-serif;
	color:#FBAF5D;
}


.tbedit{
	background:url(images/edit_bg_r.jpg) no-repeat;
}

.tbedit_over{
	background:url(images/edit_bg_r_over.jpg) no-repeat;
}

.txtedit{
	font:bold 16pt sans-serif;
	border:0;
	color:white;
	background-color:transparent;
	width:320;
}

.txtedit :focus{
	color:#FBAF5D;
}


.tbmid {
	background:url(images/btn.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 22pt sans-serif;
	text-align:center;
}

.tbmid:focus {
	background:url(images/btn_over.jpg) no-repeat;
	background-position:center;
	color:#FBAF5D;
	font:bold 22pt sans-serif;
	text-align:center;
}

.tbmid .star{
	background:url(images/selected.png) no-repeat;
	background-position:30;
}


.tbshort{
	background:url(images/btn_small.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 22pt sans-serif;
	width:163;
	height:48;
	text-align:center;
}

.tbshort:focus{
	background:url(images/btn_small_over.jpg) no-repeat;
	background-position:center;
	color:#FBAF5D;
}

.tbnav{
	font:bold 16pt sans-serif;
	background:url(images/tbnav_bg_r.jpg) no-repeat;
}


.tbnav_over{
	font:bold 16pt sans-serif;
	background:url(images/tbnav_bg_r_over.jpg) no-repeat;
	color:#FBAF5D;
}


.txttitle{
	font:bold 18pt sans-serif;
}

.txtvalue{
	font:bold 18pt sans-serif;
}


.information{
	color:white;
	font:bold 26pt sans-serif;
	display:block;
	width:  500;
	height: 50;
}
.info_done{
	color:white;
	font:bold 26pt sans-serif;
	height:8em;
}



/* Page Navigator  Previous/Next/HOME*/
.navfunc{
	border:0;
/*	position:absolute;
	top:410;*/
	color:white;
	font:bold 12pt sans-serif;
	width:98%;
}

.funcpadding{
	width:10%;
}

.funcprev{
	background-image:url(images/prev.jpg);
	background-repeat:no-repeat ;
	text-indent:25pt;
}

.funcprev:focus{
	background-image:url(images/prev_over.jpg);
	background-repeat:no-repeat ;
	color:#FBAF5D;
}

.funcnext{
	background-image:url(images/next.jpg);
	background-repeat:no-repeat ;
	background-position:right;
	text-align:right;
	padding-right:25pt;
}

.funcnext:focus{
	background-image:url(images/next_over.jpg);
	background-repeat:no-repeat ;
	color:#FBAF5D;
}

.funchome{
	background-image:url(images/home.jpg);
	background-repeat:no-repeat ;
	text-indent:25pt;
}

.funchome:focus{
	background-image:url(images/home_over.jpg);
	background-repeat:no-repeat ;
	color:#FBAF5D;
}

.funcfinish{
	background-image:url(images/finish.jpg);
	background-repeat:no-repeat ;
	background-position:right;
	text-align:right;
	padding-right:25pt;
}

.funcfinish:focus{
	background-image:url(images/finish_over.jpg);
	background-repeat:no-repeat ;
	color:#FBAF5D;
}

.funcreset{
	background:url(images/add.gif) no-repeat;
	text-indent:25pt;
}

.funcreset:focus{
	background:url(images/add_over.gif) no-repeat;
	color:#FBAF5D;
}

.funcnone{
	background-color:transparent;
}

.itembig {
	background:url(images/btn_big.jpg) no-repeat;
	background-position:center;
	color:white;
	font:bold 22pt sans-serif;
	display:block;
	width:200;
	height:46;
	padding-top: 0.3em;
}

.itembig:focus{
	background:url(images/btn_big_over.jpg) no-repeat;
	background-position:center;
	color:#FBAF5D;
}

.itembig .star{
	background:transparent;
	position:relative;
	display:block;
	top:-38;
	left:10;
	height:44;
	width:20;
	visibility:inherit;
}

input:focus{
	color:#FBAF5D;
}