@charset "utf-8";
/* Stylesheet for the Opera about document */
/* Copyright 2008 Opera Software */
@media tv {html {font-size: 150%;}}
@media screen, projection, tv, speech {
html {
	font-family: sans-serif;
	color: hsl(0,0%,22%);
	background-color: hsl(0,0%,93%);
	margin: 0 auto 10px;
	border-width: 0 1px;
	border-color: hsl(0,0%,57%);
	border-style: solid;
	max-width: 700px;
	voice-family: female;
}
body {
	color: inherit;
	background-color: hsl(0,0%,96%);
	margin: 0;
}
h1 {
	font-family: sans-serif;
	font-size: 110%;
	font-weight: normal;
	text-align: right;
	letter-spacing: -1px;
	color: hsl(0,0%,29%);
	background-image: url(images/top.png);
	background-repeat: repeat-x;
	padding: 20px 10px 15px;
	margin: 0;
	position: relative;
}
html[dir="rtl"] h1 {
	text-align: left;
	letter-spacing: normal;
}
#smartphone h1 {border-bottom: 1px solid hsl(0,0%,57%);}
h2 {
	font-family: sans-serif;
	font-size: 75%;
	font-weight: normal;
	letter-spacing: -1px;
	color: hsl(0,0%,29%);
	background-color: hsl(0,0%,89%);
	background-image: url(images/bar.png);
	background-repeat: repeat-x;
	background-position: 0px -5px;
	padding: 5px 7px;
	margin: 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: hsl(0,0%,57%);
	clear: both;
}
html[dir="rtl"] h2 {letter-spacing: normal;}
a {
	color: hsl(0,0%,29%);
	background-color: transparent;
}
dl {
	font-size: 70%;
	line-height: 110%;
	padding: 0;
	margin: 5px auto 10px;
	width: 90%;
}
dt, dd {
	padding: 2px 3px;
	margin: 0;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: hsl(0,0%,87%);
}
dt {
	width: 150px;
	float: left;
	clear: both;
}
html[dir="rtl"] dt {float: right;}
dd::after {
	content: "";
	clear: both;
	display: block;
	speak: none;
}
dd+dd {margin-left: 153px;}
html[dir="rtl"] dd+dd {margin: 0 153px 0 0;}
dt:first-child, dt:first-child+dd {border-top-width: 0;}
h2+p, #smartphone dl+p {
	font-size: 70%;
	margin: 10px auto;
	width: 90%;
}
html[dir="rtl"] h2+p {text-align: right;}
ul {
	font-size:70%;
	padding-left: 15px;
	margin: 10px auto;
	width: 90%;
}
blockquote {margin: 10px 20px;}
blockquote p {margin: 5px 0;}
ul+p {
	font-size: 70%;
	padding: 0 7px;
}
address {
	font-size: 70%;
	font-style: normal;
	background-image: url(images/center.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding: 4px 7px 7px;
	margin: 0;
	border-top: 1px solid hsl(0,0%,67%);
	position: relative;
}
html[dir="rtl"] address {text-align: right;}
span {
	position: absolute;
	right: 7px;
}
html[dir="rtl"] span {
	left: 7px; 
	right: auto;
}
#smartphone::after {
	content: "";
	background-color: hsl(0,0%,98%);
	background-image: url(images/center.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	border-top: 1px solid hsl(0,0%,57%);
	height: 20px;
	width: 100%;
	display: block;
	speak: none;
}
}
@media screen and (max-width: 550px), projection and (max-width: 550px), tv and (max-width: 550px) {
	html {margin: 0;}
	span {
		position: static;
		display: block;
	}
}
@media screen and (max-width: 400px), projection and (max-width: 400px), tv and (max-width: 400px) {
	dt {width: 100px;}
	dd+dd {margin-left: 103px;}
	html[dir="rtl"] dd+dd {margin: 0 103px 0 0;}
}
@media screen and (max-width: 300px), projection and (max-width: 300px), tv and (max-width: 300px) {
	dt {
		font-weight: bold;
		width: auto;
		float: none;
		display: run-in;
	}
	dt::after {content: ": ";}
	html[dir="rtl"] dd+dd, dd+dd {margin: 0;}
	blockquote {margin: 5px;}
}
@media screen and (max-width: 280px), projection and (max-width: 280px), tv and (max-width: 280px) {
	html {border-width: 0 1px 1px;}
	html[dir="rtl"] h1, h1 {
		text-align: center;
		padding: 10px 5px;
	}
}
@media all and (min-width: 1281px) {
	html {max-width: 900px;}
	dt {width: 200px;}
	dd+dd {margin-left: 203px;}
	html[dir="rtl"] dd+dd {margin: 0 203px 0 0;}
}
@media print {
	* {font-size: 10pt;}
	h1 {
		font-size: 16pt;
		text-align:center;
	}
	h2 {font-size: 13pt;}
	dl, h2+p {margin-bottom: 2cm;}
}

