@charset "utf-8";
/* Stylesheet for the Opera cache document */
/* Copyright 2008 Opera Software */
@media tv {html {font-size: 150%;}}
@media screen, projection, tv, speech {
html {
	font-family: sans-serif;
	color: hsl(0,0%,22%);
	background-color: hsl(0,0%,93%);
	margin: 0 auto 10px;
	border-width: 0 1px;
	border-color: hsl(0,0%,57%);
	border-style: solid;
	max-width: 700px;
	voice-family: female;
}
body {
	color: inherit;
	background-color: hsl(0,0%,96%);
	margin: 0;
}
h1 {
	font-family: sans-serif;	
	font-size: 110%;
	font-weight: normal;
	text-align: right;
	letter-spacing: -1px;
	color: hsl(0,0%,29%);
	background-image: url(images/top.png);
	background-repeat: repeat-x;	
	padding: 20px 10px 15px;
	margin: 0;
}
html[dir="rtl"] h1 {
	text-align: left;
	letter-spacing: normal;
}
a {
	color: hsl(0,0%,29%);
	background-color: transparent;
}
table {
	font-size: 70%;
	line-height: 130%;
	padding: 0;
	margin: 0 0 10px;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
th {
	background-image: url(images/bar.png);
	background-repeat: repeat-x;
	background-position: 0px -5px;
	padding: 5px 3px;
	border-top: 1px solid hsl(0,0%,74%);
}
td {
	vertical-align: top;
	padding: 3px 10px;
	border-width: 1px 0;
	border-style: solid;
	border-color: hsl(0,0%,87%) hsl(0,0%,96%) hsl(0,0%,96%);
}
td:first-child, td:first-child+td {
	border-width: 1px 1px 1px 0;
	border-color: hsl(0,0%,87%) hsl(0,0%,87%) hsl(0,0%,96%) hsl(0,0%,96%);
}
td:first-child+td {
	text-align: right;
	padding: 2px 15px 2px 25px;
}
tr:first-child+tr>td {border-top: 1px solid hsl(0,0%,74%);}
td+td+td a {
	-o-text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}
body::after {
	content: "";
	background-color: hsl(0,0%,98%);
	background-image: url(images/center.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	border-top: 1px solid hsl(0,0%,57%);
	height: 20px;
	width: 100%;
	display: block;
	speak: none;
}
}
@media screen and (max-width: 400px), projection and (max-width: 400px), tv and (max-width: 400px) {
	th {width: 100px;}
}
@media screen and (max-width: 350px), projection and (max-width: 350px), tv and (max-width: 350px) {
	h1 {
		text-align: center;
		padding: 10px 5px;
	}
	tr:first-child {
		background-image: url(images/bar.png);
		background-repeat: repeat-x;
		background-position: 0px -5px;
	}
	tr {border-top: 1px solid hsl(0,0%,74%) !important;}
	th {
		font-size: 10px;
		background-image: none;
		border-top: none;
		display: inline;
	}
	td {
		text-align: left !important;
		padding: 2px !important;
		border-color: hsl(0,0%,96%) !important;
		width: auto;
		display: block;
	}
	html[dir="rtl"] td {text-align: right !important;}
}
@media all and (min-width: 1281px) {html {max-width: 900px;}}
@media print {
	* {font-size: 10pt;}
	h1 {
		font-size: 16pt;
		text-align:center;
	}
	tr+tr {
		padding: 3mm 3mm 2cm;
		display: block;
	}
	th {display: none;}
	tr+tr td {
		text-align: left;
		width: auto;
		display: block;
	}
}

