@charset "utf-8";
/* Stylesheet for the Opera ftp/directory listings */
/* Copyright 2008 Opera Software */
@media tv {html {font-size: 150%;}}
@media screen, projection, tv, speech {
html {
	font-family: sans-serif;
	color: hsl(0,0%,22%);
	background-color: hsl(0,0%,93%);
	margin: 0 auto 10px;
	border-width: 0 1px;
	border-color: hsl(0,0%,57%);
	border-style: solid;
	max-width: 700px;
	voice-family: female;
}
body {
	color: inherit;
	background-color: hsl(0,0%,96%);
	margin: 0;
}
h1 {
	font-family: sans-serif;	
	font-size: 110%;
	font-weight: normal;
	text-align: right;
	letter-spacing: -1px;
	color: hsl(0,0%,29%);
	background-image: url(images/top.png);
	background-repeat: repeat-x;	
	padding: 20px 10px 15px;
	margin: 0;
}
html[dir="rtl"] h1 {
	text-align: left;
	letter-spacing: normal;
}
h2 {
	font-family: sans-serif;
	font-size: 75%;
	font-weight: normal;
	letter-spacing: -1px;
	-o-text-overflow: ellipsis;
	color: hsl(0,0%,29%);
	background-color: hsl(0,0%,89%);
	background-image: url(images/bar.png);
	background-repeat: repeat-x;
	background-position: 0px -5px;
	padding: 5px 7px;
	margin: 0;
	border-top: 1px solid hsl(0,0%,57%);
	border-bottom: 1px solid hsl(0,0%,57%);
	overflow: hidden;
}
html[dir="rtl"] h2 {letter-spacing: normal;}
a {
	color: hsl(0,0%,29%);
	background-color: transparent;
}
table a {text-decoration: none;}
table a:hover {text-decoration: underline;}
.dir {font-weight: bold;}
a[class]::before {
	content: "";
	vertical-align: top;
	background-image: -o-skin('Folder');
	margin-right: 3px;
	width: 16px;
	height: 16px;
	display: inline-block;
	speak: none;
}
a[class="sym"]::before {	
 	background-image: -o-skin('Panel Collapse Right');
 	width: 9px;
	height: 9px;
}
table, pre {
	font-size: 70%;
	line-height: 130%;
	padding: 0;
	margin: 5px auto 10px;
	border-spacing: 0;
	border-collapse: collapse;
	width: 95%;
}
th, td {
	vertical-align: top;
	padding: 2px 3px;
	border-width: 1px 0;
	border-style: solid;
	border-color: hsl(0,0%,87%) hsl(0,0%,96%) hsl(0,0%,96%);
}
th {
	text-align: left;
	padding: 2px 3px 10px;
}
html[dir="rtl"] th {text-align: right;}
tr:first-child>* {border-top-color: hsl(0,0%,96%);}
td:first-child {width: 60%;}
th+th+th, td+td+td {
	text-align: right;
	white-space: nowrap;
}
html[dir="rtl"] th+th+th, html[dir="rtl"] td+td+td {text-align: left;}
table a {
	-o-text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}
body::after {
	content: "";
	background-color: hsl(0,0%,98%);
	background-image: url(images/center.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	border-top: 1px solid hsl(0,0%,57%);
	height: 20px;
	width: 100%;
	display: block;
	speak: none;
}
pre {
	font-family: sans-serif;
	white-space: pre-wrap;
	overflow: auto;
}
}
@media screen and (max-width: 500px), projection and (max-width: 500px), tv and (max-width: 500px) {
	html {
		margin: 0;
		border: none;
	}
	th+th+th, td+td+td {white-space: normal;}
}
@media screen and (max-width: 240px), projection and (max-width: 240px), tv and (max-width: 240px) {
	h1 {
		text-align: center;
		padding: 10px 5px 5px;
	}
	table {
		line-height: 100%;
		display: block;
	}
	table * {display: block;}
	tr {border-top: 1px solid hsl(0,0%,74%);}
	tr:first-child {display: none;}
	tr:first-child+tr {border-top: none !important;}
	td {
		text-align: left !important;
		padding: 0px !important;
		border-color: hsl(0,0%,96%) !important;
		width: auto !important;
		display: block;
	}
	td+td::before {
		content: "::";
		padding: 0 5px 0 3px;
	}
	html[dir="rtl"] td {text-align: right !important;}
	a {font-weight: bold;}
	a[class]::before {vertical-align: text-top;}
}
@media all and (min-width: 1025px) {html {max-width: 750px;}}
@media all and (min-width: 1281px) {html {max-width: 800px;}}
@media all and (min-width: 1601px) {html {max-width: 900px;}}
@media tv {a[class]::before {display: none;}}
@media print {
	* {
		color: black;
		background: white;
		text-decoration: none;
		border: none;
	}
	td {vertical-align: top;}
	.dir {font-weight: bold;}
	h1 {
		font-size: 13pt;
		font-weight: bold;
	}
	h1, table {
		page-break-before: avoid;
		page-break-after: avoid;
	}
	table {
		font-size: 10pt;
		width: 100%;
	}
}

