@charset "utf-8";
/* Stylesheet for Opera webfeeds */
/* Copyright 2008 Opera Software */

#strings
{
	display:none !important;
}
@media tv, handheld
{
	html
	{
		font-size: 150%;
	}
}
*
{
	margin:0;
	padding:0;
}
body
{
	font:normal 13px sans-serif;
	background:#eee;

	color:#777;
	voice-family: female;
	width:100%;
	height:100%;
	overflow:hidden;
	overflow:auto;
}
a
{
	color:inherit;
}
li
{
	list-style-type:none;
}
li a, table a
{
	display:block;
}
h1,h2,h3
{
	color:#000;
	font-weight:normal;
}

body > div > .header h1
{
	text-transform:capitalize;
}
body > div:target > .header h1
{
	color:#b00;
}


fieldset
{
	border:0;
}
legend
{
	display:none;
}
a
{
	text-decoration:none;
}






body > div > .controls
{
	background:#fff;
	margin:0 -1em;
	padding:0 1em;
	width:auto;
}

body > div > .controls > a
{
	margin-right:.5em;
	text-transform:capitalize;
}

body > div
{
	padding:1em;
	border:1px solid #999;
	border-width:0 1px;
}



#feedEntries input:disabled,
#feedEntries input:disabled + label
{
	opacity:.5;
}
#feedEntries label input
{
	max-width:8em;
	width:100%;
}


/*
 *	screen
 */
@media screen
{
	.handheld
	{
		display:none;
	}
	#feedEntries
	{
		position:fixed;
		z-index:1;
		top:0;
		bottom:50%;
		left:25%;
		right:0;
		overflow:hidden;
	}
	#feedEntry
	{
		position:fixed;
		z-index:1;
		top:50%;
		bottom:0;
		left:25%;
		right:0;
		overflow:hidden;
	}
	#feedsList
	{
		position:fixed;
		top:0;
		left:0;
		right:75%;
		bottom:0;
		overflow:auto;
	}

	#settings
	{
		display:none;
		position:fixed;
		bottom:15%;
		left:15%;
		right:15%;
		top:15%;
		overflow:hidden;
		border:1px solid #333;
		background-color:#eee;
		z-index:65536;
	}
	#darkBox
	{
		display:none;
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:url(img/darkBox.png);
		z-index:32768;
	}
	#settings:target,#settings:target + #darkBox
	{
		display:block;
	}
	body > div > .header
	{
		margin:-1em -1em 0 -1em;
		padding:1em 1em 0 1em;
		height:4em;
		max-height:4em;
		overflow:hidden;
		background:url(img/section.png) top left repeat-x;
	}

	body > div > .controls
	{
		height:3em;
		max-height:3em;
		overflow:hidden;
		background:#fff;
		margin:0 -1em;
		padding:0 1em;
		width:auto;
	}


	#feedEntries label[for='search']
	{
		float:right;
	}


	#feedEntriesWrapper,
	#feedEntry .content
	{
		position:absolute;
		overflow:auto;
		top:9em;
		bottom:1em;
		left:1em;
		right:1em;
	}
	#feedEntriesWrapper > table > tbody > tr > *
	{
		border:inherit;
		white-space:pre;
		overflow:hidden;
		-o-text-overflow:ellipsis;
	}

	#feedEntry .content
	{
		overflow:auto;
	}
	body > div > .header > h1
	{
		white-space:pre;
		overflow:hidden;
		-o-text-overflow:ellipsis;
	}


	#feedsListWrapper
	{
		overflow:hidden;
		-o-text-overflow:ellipsis;
		white-space:pre-line;
	}


	#feedsList a
	{
		white-space:nowrap;
	}
}




/*
 *	handheld
 */
@media handheld, tv, projection
{
	h1
	{
		font-size:1.3em;
	}
	h2
	{
		font-size:1.2em;
	}
	h3
	{
		font-size:1.1em;
	}

	body > div
	{
		display:none;
	}
	body > div:target
	{
		display:block;
		padding:1em;
		border:0;
	}
	.header
	{
		margin:-1em -1em 1em -1em;
		padding:1em 1em 0 1em;
		overflow:hidden;
		background:url(img/section.png) top left repeat-x;
		margin-bottom:1em;
	}
	body > div > .controls
	{
		display:block;
		margin:0 -1em 1em -1em;
		padding:1em;
	}

	#feedEntries .header img
	{
		display:none;
	}
	#feedEntriesHeader,
	#feedEntriesTable > tbody > tr > *:first-child,
	#feedEntriesTable > tbody > tr > *:last-child
	{
		display:none;
	}
	#noFeedEntries > tr > *
	{
		display:table-cell !important;
	}

	#feedsListWrapper > ul > li
	{
		background-color:#fff !important;
	}
}


#subscribeControls
{
	display:block;
	position:absolute;
	top:50%;
	left:.5em;
	right:.5em;
	bottom:.5em;
}


/*
 *	feedEntries
 */
#feedEntries .header img
{
	display:none;
}
#feedEntries .header img[src^='']
{
	width:88px;
	height:31px;
	border:0;
	background:lime;
}


/*
 *	feedEntriesTable
 */
#feedEntriesTable
{
	width:100%;
}
#feedEntriesWrapper > table > tbody > tr
{
	border-top:1px solid transparent;
	background-color:#fff;
}
#feedEntriesTable > * > tr > *
{
	padding:.25em;
	text-align:left;
	margin:0;
	border-top:inherit;
}
#feedEntriesTable > thead > tr > th
{
	border-bottom:1px solid #eee;
}
#feedEntriesTable > thead > tr > th
{

	background:#333 center left no-repeat;
	color:#fff;
}
#feedEntriesTable > * > tr > *:first-child
{
	width:2.5em;
	max-width:2.5em;

	background-repeat:no-repeat;
	background-image:url(img/flag.png);
	background-position:0 -16px;
}
#feedEntriesTable > tbody > tr > td:nth-child(2) em
{
	font-style:normal;
	background:#ff9;
	color:#930;
}

@media screen
{
	#feedEntriesTable > * > tr > *:nth-child(2)
	{
		border-left:1px dashed #ccc;
		border-right:1px dashed #ccc;
	}
}
#feedEntriesTable > tbody > tr > *+*+*
{
	max-width:6em;
	width:7em;
	white-space:nowrap !important;
}
#feedEntriesTable tr[rel]
{
	background:#f8f8f8;
	border-color:#f8f8f8;
}



/*
 *	feedEntry
 */
#feedEntryContent
{
	padding:1em;
	background-color:#f8f8f8;
	border:1px solid #ccc;
	border-width:1px 0;
}
#feedEntryContent:empty
{
	content:'No content';
	color:#999;
}
#feedEntryContent a
{
	text-decoration:underline;
	color:#669;
}
#feedEntryContent a:hover
{
	background:#ffc;
	color:#600;
}
#feedEntryContent img
{
	max-width:95%;
	display:inline-block;
	border:1px solid #999;
	padding:2px;
	background:#fff;
	margin:2px;
}
#feedEntryContent *[src]:after
{
	position:relative;
	display:block;
	content:'( ' attr(src) ' )';
	color:#060;
}

#feedEntryContent table
{
	border:1px solid #000;
	background:#fff;
}
#feedEntryContent td,
#feedEntryContent th
{
	margin:0;
	padding:.5em;
	border:1px solid #ccc;
}



/*
 *	feedList
 */
#feedsList li
{
	display:block;
	line-height:20px;
}
#feedsList li > a
{
	display:inline;
}
#feedsList ul > li > ul > li > a[href='#settings']
{
	content:' ';
	background-image:url(img/customize.gif);
}
#feedsList ul > li#smartGroup_preview > ul > li > a[href='#settings']
{
	opacity:.25;
}
#feedsList ul > li > ul > li > a+a
{
	background-image:url(img/defaultFavicon.png);
}
#feedsListWrapper > ul > li
{
	background-position:left top;
	background-color:#fff;
}
#feedsList ul > li > a
{
	padding-left:20px;
	background-image:url(img/folder.png);
	background-position:1px 1px;
	background-repeat:no-repeat;
	line-height:20px;
}
#feedsList ul > li.smartGroup > a
{
	background-image:url(img/smartGroup.png);
}



#feedsListWrapper > ul > li > a
{
	display:block;
	text-transform:capitalize;
}
#feedsListWrapper > ul
{
	padding-top:4px;
}
#feedsListWrapper > ul > li
{
	background:#fff;
	margin:0 4px 12px 4px;
	outline:4px solid #fff;
	border-top:1px solid transparent;
}

#feedsListWrapper > ul > li:nth-child(2n+1)
{
	background-color:#fff;
}

#feedsListWrapper > ul > li > ul > li
{
	border-top:1px solid transparent;
	overflow:hidden;
	white-space:pre;
	-o-text-overflow:ellipsis;
}



.header > img
{
	background:lime;
}

/*
 *	settings
 */

#settings form
{
	margin:1em;
}
#settings hr
{
	margin:.25em;
	height:1px;
	overflow:hidden;
	border:0;
	background:#ccc;

}
#settings label
{
	display:inline-block;
	text-align:right;
	margin-right:2%;
	width:50%;
}
#settings button
{
	display:block;
	margin:1em 0;
	padding:0 1em;
	width:100%;
}
#settings [type='text'],select
{
	width:40%;
}

@media screen,tv,projection
{
	#settings .controls
	{
		display:none;
	}

	#settings form
	{
		position:absolute;
		top:4em;
		left:0;
		right:0;
		bottom:0;
		overflow:auto;
	}
	#settings button
	{
		width:40%;
		margin:1em 8% 0 52%;
	}
}


#feedEntriesSubscription span
{
	display:none;
}

/*
*:focus
{
	color:#000;
}
*/
